<div class="content-wrap">

  <div class="wrapper">
    <dl class="accordion">
      <dt>
        <a href="javascript:;" class="active">1.0</a>
      </dt>
      <dd style="display: block">
        <b>版本特性</b><br>
        &#149; 集成系统、微信、CMS等模块<br>
        &#149; 集成Email服务<br>
        &#149; 集成定时任务<br>
        &#149; 使用Ejs模板引擎<br>
        &#149; 采用Bootsrtap+Pjax<br><br>
        <b>源码地址</b><br>
        <a href="https://github.com/Wizzercn/NodeWk" target="_blank">https://github.com/Wizzercn/NodeWk</a>
        <br>
        <b><span style="color: red">捐助 | 合作</span></b><br>
        支付宝：wizzer@qq.com<br>
        微&nbsp;信：wizzer
      </dd>
      <dt>
        <a href="javascript:;">使用说明</a>
      </dt>
      <dd>
        &#149; 搭建Node.js运行环境<br>
        &#149; 安装必备组件yum install ImageMagick-c++.x86_64<br>
        &#149; 创建空的数据库,使用nodewk.sql还原数据库<br>
        &#149; 修改数据库连接及redis /config/custom/mysql.js /config/custom/redis.js<br>
        &#149; npm i 安装(hiredis报错不影响运行)<br>
        &#149; 用户名：superadmin  密码：1<br>
      </dd>

    </dl>
  </div>

</div>
