<%include top.ejs%>
<section class="container team">
    <article class="grid member">

        <div class="box biography">
            <p>
                <%-sails.__({phrase: 'shop_2_note', locale:res.locale})%>
            </p>

        </div>
    </article>

</section>
<%include buttom.ejs%>