<footer class="spread primary">
    <article class="container">
        <h3><%-sails.__({phrase: 'venture', locale:res.locale})%></h3>
        <section class="grid row gutters">
            <div class="box">
                <small>
                    <span>Q_Q: 11624317</span>
                    <span>E_mail: wizzer@qq.com</span>
                </small>
            </div>
        </section>

        <section class="grid row gutters">
      <span class="box">
        &copy; 2016 - <a href="/">Nodeshop.cn</a>
      </span>
        </section>
    </article>
</footer>